<html>
    <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <title>Hair Salon</title>
    </head>
    <body>
        <h1 class="header text-center"><span class="salon-name">Your Hair Do</span>, welcome stylists!</h1>
        <div class="container well">
            {% if stylists is not empty %}
            <h2>Please click on your name to see your clients:</h2>
            <ul>
                {% for stylist in stylists %}
                    <li><a href="/clients/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                {% endfor %}
            </ul>

            <form action="/delete_stylists">
                <button type="submit" class="btn btn-danger">Clear all stylists and clients.</button>
            </form>

            {% else %}
                <h3>There are no stylists yet!</h3>
            {% endif %}

            <h3>Create a new stylist:</h3>
            <form action="/stylist" method="post">
                <div class="form-group">
                    <label for="name">Stylist Name:</label>
                    <input id="name" name="name" type="text">
                    <button type="submit" class="btn btn-info">Add Stylist</button>
                </div>
            </form>
        </div>
    </body>
</html>
